<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myApp.demos.mapper.LogMapper">

    <insert id="saveAccessLog">
        insert into t_log(module ,description ,ip ,login_user ,uri ,method ,params ,result ,access_time) values
        (#{log.module} ,#{log.description} ,#{log.ip} ,#{log.loginUser} ,#{log.uri} ,#{log.method} ,#{log.params} ,#{log.result} ,#{log.accessTime})
    </insert>

    <insert id="addLog">
        insert into t_msg(msg_id ,msg_content ,update_time ,state ,create_by ,group_id ,msg_type ,user_id) values (#{tMsg.msgId} ,#{tMsg.msgContent} ,#{tMsg.updateTime} ,#{tMsg.state} ,#{tMsg.createBy} ,#{tMsg.groupId} ,#{tMsg.msgType} ,#{tMsg.userId})
    </insert>

    <insert id="aveUserChat">
        insert into user_chat (chat_id ,user_id ,msg ,answer ,create_time) values (#{uc.chatId} ,#{uc.userId} ,#{uc.msg} ,#{uc.answer} ,now())
    </insert>

    <update id="updateChatLog">
        update user_chat set answer =#{res} ,status =#{status} where chat_id =#{id}
    </update>

    <select id="getMsg" resultType="com.example.myApp.demos.entity.MsgEntity">
        select tm.msg_id ,tm.msg_content ,tm.update_time ,tm.state ,tm.group_id ,tu.name as createBy ,
        CASE
        WHEN tm.msg_type = '0' THEN '点赞'
        WHEN tm.msg_type = '1' THEN '评论'
        ELSE '未知'
        END AS msg_type
        from t_msg tm inner join t_user tu on tm.create_by = tu.user_id
        where tm.user_id = #{userId} and tm.group_id in
        <foreach collection="list" open="(" close=")" separator="," item="id">#{id}</foreach>
        <if test='kw != null and kw != ""'>
            and tm.msg_content like concat('%', #{kw, jdbcType=VARCHAR}, '%')
        </if>
        order by update_time desc
    </select>

    <select id="getMsgGroupIds" resultType="java.lang.String">
        select distinct group_id from t_user_group where user_id = #{userId}
    </select>

    <select id="getChat" resultType="com.example.myApp.demos.vo.ChatLogVo">
        select msg ,answer ,date_format(create_time,'%Y-%m-%d %H:%i:%s') timestp
        from user_chat where user_id =#{param2}
        and create_time &lt; #{param1}
        order by create_time desc
        limit 1
    </select>

</mapper>